$primary-color: #192e35;
$secondary-color: #ffffff;
$tertiary-color: #f5f5f5;

$primary-bg-color: $tertiary-color;
$secondary-bg-color: $secondary-color;
$tertiary-bg-color: $primary-color;

$primary-txt-color: $secondary-color;
$secondary-txt-color: $primary-color;

$danger-color: #f24b59;

$shadow-config: 0.1em 0.1em 0.3em #192e3580;