@import "../../../../../assets/styles/variables.scss";

button {
  
  width: 80%;
  padding: 0.5em;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 1em;
  color: $primary-txt-color;
  background-color: $danger-color;

  &:hover {
    opacity: 0.9;
  }

}